<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-center"> © Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="/terms">Terms of Use</a><br />
        </div>
    </div>
</footer>